body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#button1 {
    border: none;
    color: white;
    padding: 13px 26px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color:darksalmon;
}

#button2 {
    border: none;
    color: white;
    padding: 13px 26px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color:sandybrown;
}

#button3 {
    border: none;
    color: white;
    padding: 13px 26px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color:indianred;
}